*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-transform: none;
}
.container{
  max-width: 1110px;
  margin: 0 auto;
}
.head-page{
  height: 900px;
  background: url(../img/Rectangle.png) top center no-repeat;
}
.header{
  border-bottom: 1px solid rgba(161,161,161,.5);
}
.top-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  font-weight: 500;
}
.top-menu-item{
  margin-left: 40px;
}
.top-menu-item a{
  color: #fff;
}
.header-content{
  position: absolute;
  max-width: 830px;
  text-align: center;
  color: #fff;
  margin: 220px auto 0;
  left: 0;
  right: 0;
}
.header-content h6{
  font-weight: 500;
}
.header-content h1{
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin: 20px 0 50px 0;
}
button{
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 30px;
  background-color: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25)
}
button a{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.services{
  text-align: center;
  margin: 110px 0 105px;
}
.services h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}
.service-item span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 2px solid black;
  border-radius: 50%;
}
.service-item span:before{
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 50%;
}
.service-content{
  width: 230px;
}
.services h6{
  font-size: 16px;
  line-height: 25px;
  margin: 50px 0 70px;
}
.service-items{
  display: flex;
}
.service-item{
  display: flex;
}
.service-item img{
  width: 40px;
  height: 40px;
}
.service-item img::before{
  content: '';
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%
}
.about{
  height: 800px;
  background-color: #F6F6F8;
}
.about-company{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;

}
.about-company__content{
  width: 45%;
}
.about-company__image{
  width: 45%;
}
.about-company__image img{
  width: 500px;
  height: 400px;
}
.about-projects{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  border-top: 1px solid grey;
}
.about-projects__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-projects__item img{
  width: 30px;
  height: 28px;
}
.about-projects__item number{
  font-size: 26px;
}
.services-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
